body {
  background-color: #2d2d2d;
  color: white;
}

.banner {
  font-weight: bold;
  text-align: center;
  font-size:
}

.banner img {
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: auto;
}

p.lang {
  font-style: italic;
}

.employer {
  font-weight: bold;
}

.dates {
  font-style: italic;
}

.sections {
  border: 1px solid black;
  padding: 3px;
  background-color: darkgrey;
  margin-right: 200px;
}

.clip-art img{
  height: 20px;
  float: right;
}
