body {
  background-color: #2d2d2d;
  color: white;
}

ul {
  list-style-type: none;
}

.banner h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
}

.banner img {
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: auto;
}

p.lang {
  font-style: italic;
  font-size: 15px;
}

.employer {
  font-weight: bold;
}

.dates {
  font-style: italic;
}

.container-fluid h1 {
  border: 1px solid slategrey;
  padding: 3px 10px;
  background-image: url(../img/);
  opacity: .5;
  margin-right: 400px;
}

.container-fluid h2 {
  border: 1px solid slategrey;
  padding: 3px 10px;
  background-color: dimgrey;
  margin-right: 910px;
}

.container-fluid {

}

.container-fluid a {
  font-size: 15px;
}

.icon img{
  height: 20px;
  float: right;
}

.about {
  margin-left: 5px;
}

.row img {
  width: 150px;
  float: left;
  padding: 15px;
  padding-left: 5px;
}

.project-box li {
  font-size: 20px;
  color: black;
  border: 1px solid black;
  padding: 20px;
  background-color: Gainsboro;
  margin: 15px;
  min-height: 180px;
}

.project-box a {
  font-size: 25px;
}
