.banner {
  font-weight: bold;
  text-align: center;
  font-size:
}

.banner img {
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: auto;
}

p.lang {
  font-style: italic;
}
.employer {
  font-weight: bold;
}

.dates {
  font-style: italic;
}
