body {
  background-color: #2d2d2d;
  color: white;
}

ul, ol {
  list-style-type: none;
}

.jumbotron {
  text-align: right;
  background-color: #2d2d2d;
  border-bottom: 2px solid lightgrey;
}

.jumbotron h1 {
  margin-right: 30px;
}

.jumbotron img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 50%;
}

.container-fluid h1 {
  border: 1px solid slategrey;
  padding: 3px 10px;
  background-color: dimgrey;
  max-width: 850px;
}

.container-fluid h2 {
  border: 1px solid slategrey;
  padding: 3px 10px;
  background-color: dimgrey;
  max-width: 600px;
}

.icon img{
  height: 20px;
  float: right;
}

.project-box img {
  width: 150px;
  float: left;
  padding: 15px;
  padding-left: 5px;
}

.project-box li {
  font-size: 18px;
  color: black;
  border: 1px solid black;
  padding: 20px;
  background-color: Gainsboro;
  margin: 15px;
  min-height: 200px;
  max-width: 700px;
  min-width: 400px;
}

.project-box a {
  font-size: 20px;
}

p.lang {
  font-style: italic;
  font-size: 15px;
}

p.about{
  padding: 25px 0px;
}

.employer {
  font-weight: bold;
}

.dates {
  font-style: italic;
}

.interests-box img {
  height: 80px;
  float: left;
  padding: 15px;
  padding-left: 5px;
}

.interests-box li {
  font-size: 15px;
  color: black;
  border: 1px solid black;
  padding: 20px;
  background-color: Gainsboro;
  margin: 15px;
  min-height: 100px;
  max-width: 700px;
  min-width: 400px;
}

.interests-box a {
  font-size: 18px;
}
