body {
  background-color: #2d2d2d;
  color: white;
}

.banner h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
}

.banner img {
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: auto;
}

p.lang {
  font-style: italic;
}

.employer {
  font-weight: bold;
}

.dates {
  font-style: italic;
}

.container h1 {
  border: 1px solid slategrey;
  padding: 3px 10px;
  background-color: dimgrey;
  margin-right: 400px;
}

.container h2 {
  border: 1px solid slategrey;
  padding: 3px 10px;
  background-color: dimgrey;
  margin-right: 910px;
}

.container {
  margin-left: 30px;
}

.container a {
  font-size: 15px;
}

.icon img{
  height: 20px;
  float: right;
}

.about {
  margin-left: 5px;
}
